{% extends 'base.html' %}

{% block title %}WHOIS{% endblock %}


{% block style %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto text-center my-5">
                <h1 class="display-4 font-weight-bold text-uppercase">Whois</h1>
                <p class="lead">Find information about a domain</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto text-center mb-3">
                <div class="input-group mb-3">
                    <input type="text" id="hostname-input" class="form-control" placeholder="Hostname"
                        aria-label="Hostname" aria-describedby="hostname-submit">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light rounded-right px-4 text-center" type="button"
                            id="hostname-submit-btn">
                            <div class="d-flex justify-content-center">
                                <span id="hostname-submit-btn-text">Go!</span>
                                <div class="spinner-border spinner-border-sm text-info" style="display: none;"
                                    id="hostname-submit-btn-spinner" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="invalid-feedback text-left">
                        Invalid hostname or IP.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<section id="result-section">
    <div class="container" id="result-container">
    </div>
</section>

<!-- Template -->
<template id="result-template">
    <div class="card mb-3" id="result-card">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <h5 class="title m-0"></h5>
                <span class="badge badge-success ml-2 mt-1">
                    <h6 class="m-0">Up</h6>
                </span>
                <span class="badge badge-danger" style="display: none;">Down</span>
            </div>

            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col d-flex">
                    <table class="table table-sm my-auto">
                        <tbody>
                            <tr class="bg-light">
                                <td colspan="2"><b>Domain Information</b></td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Name:</td>
                                <td class="domain"></td>
                            </tr>
                            <tr>
                                <td>Creation Date:</td>
                                <td class="crt-date"></td>
                            </tr>
                            <tr>
                                <td>Expiration Date:</td>
                                <td class="exp-date"></td>
                            </tr>
                            <tr class="bg-light">
                                <td colspan="2"><b>Registrar Information</b></td>
                            </tr>
                            <tr>
                                <td>Registrar:</td>
                                <td class="registrar"></td>
                            </tr>
                            <tr>
                                <td>WhoIs Server:</td>
                                <td class="whois"></td>
                            </tr>
                            <tr>
                                <td>Updated Date:</td>
                                <td class="upd-date"></td>
                            </tr>
                            <tr>
                                <td>Emails:</td>
                                <td class="emails"></td>
                            </tr>
                            <tr class="bg-light">
                                <td colspan="2"><b>Extra Information</b></td>
                            </tr>
                            <tr>
                                <td>Organisation:</td>
                                <td class="org"></td>
                            </tr>
                            <tr>
                                <td>Country:</td>
                                <td class="country"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

{% endblock %}

{% block script %}
<script src="/static/js/whois.js"></script>
<script src="/static/js/ajax_whois.js"></script>
{% endblock %}